.fak.fa-arrow-down::before, .fa-kit.fa-arrow-down::before { content: "\e019"; }
.fak.fa-arrow-up::before, .fa-kit.fa-arrow-up::before { content: "\e01a"; }
.fak.fa-arrow-up-arrow-down::before, .fa-kit.fa-arrow-up-arrow-down::before { content: "\e012"; }
.fak.fa-arrow-up-right-from-square::before, .fa-kit.fa-arrow-up-right-from-square::before { content: "\e01b"; }
.fak.fa-asterisk::before, .fa-kit.fa-asterisk::before { content: "\e01c"; }
.fak.fa-award::before, .fa-kit.fa-award::before { content: "\e01d"; }
.fak.fa-bell::before, .fa-kit.fa-bell::before { content: "\e01e"; }
.fak.fa-bell-full::before, .fa-kit.fa-bell-full::before { content: "\e01f"; }
.fak.fa-binoculars::before, .fa-kit.fa-binoculars::before { content: "\e013"; }
.fak.fa-book::before, .fa-kit.fa-book::before { content: "\e020"; }
.fak.fa-box-archive::before, .fa-kit.fa-box-archive::before { content: "\e021"; }
.fak.fa-brightness::before, .fa-kit.fa-brightness::before { content: "\e022"; }
.fak.fa-buildings::before, .fa-kit.fa-buildings::before { content: "\e023"; }
.fak.fa-calendar::before, .fa-kit.fa-calendar::before { content: "\e024"; }
.fak.fa-calendar-check::before, .fa-kit.fa-calendar-check::before { content: "\e025"; }
.fak.fa-chart-column::before, .fa-kit.fa-chart-column::before { content: "\e027"; }
.fak.fa-chart-line::before, .fa-kit.fa-chart-line::before { content: "\e026"; }
.fak.fa-chart-simple::before, .fa-kit.fa-chart-simple::before { content: "\e028"; }
.fak.fa-check-double::before, .fa-kit.fa-check-double::before { content: "\e04f"; }
.fak.fa-chevron-left::before, .fa-kit.fa-chevron-left::before { content: "\e029"; }
.fak.fa-chevron-right::before, .fa-kit.fa-chevron-right::before { content: "\e02a"; }
.fak.fa-chevrons-left::before, .fa-kit.fa-chevrons-left::before { content: "\e02b"; }
.fak.fa-chevrons-right::before, .fa-kit.fa-chevrons-right::before { content: "\e02c"; }
.fak.fa-circle-arrow-right::before, .fa-kit.fa-circle-arrow-right::before { content: "\e02d"; }
.fak.fa-circle-check::before, .fa-kit.fa-circle-check::before { content: "\e02e"; }
.fak.fa-circle-exclamation::before, .fa-kit.fa-circle-exclamation::before { content: "\e02f"; }
.fak.fa-circle-info::before, .fa-kit.fa-circle-info::before { content: "\e050"; }
.fak.fa-circle-question::before, .fa-kit.fa-circle-question::before { content: "\e030"; }
.fak.fa-circle-xmark::before, .fa-kit.fa-circle-xmark::before { content: "\e014"; }
.fak.fa-clipboard::before, .fa-kit.fa-clipboard::before { content: "\e054"; }
.fak.fa-cloud-arrow-down::before, .fa-kit.fa-cloud-arrow-down::before { content: "\e031"; }
.fak.fa-colon::before, .fa-kit.fa-colon::before { content: "\e051"; }
.fak.fa-comment::before, .fa-kit.fa-comment::before { content: "\e032"; }
.fak.fa-ellipsis-vertical::before, .fa-kit.fa-ellipsis-vertical::before { content: "\e033"; }
.fak.fa-envelope::before, .fa-kit.fa-envelope::before { content: "\e034"; }
.fak.fa-eye::before, .fa-kit.fa-eye::before { content: "\e040"; }
.fak.fa-eye-slash::before, .fa-kit.fa-eye-slash::before { content: "\e03a"; }
.fak.fa-file::before, .fa-kit.fa-file::before { content: "\e035"; }
.fak.fa-file-excel::before, .fa-kit.fa-file-excel::before { content: "\e036"; }
.fak.fa-file-pdf::before, .fa-kit.fa-file-pdf::before { content: "\e037"; }
.fak.fa-file-powerpoint::before, .fa-kit.fa-file-powerpoint::before { content: "\e038"; }
.fak.fa-file-word::before, .fa-kit.fa-file-word::before { content: "\e039"; }
.fak.fa-filter::before, .fa-kit.fa-filter::before { content: "\e03b"; }
.fak.fa-flag::before, .fa-kit.fa-flag::before { content: "\e03c"; }
.fak.fa-floppy-disk::before, .fa-kit.fa-floppy-disk::before { content: "\e03d"; }
.fak.fa-gear::before, .fa-kit.fa-gear::before { content: "\e03e"; }
.fak.fa-grip::before, .fa-kit.fa-grip::before { content: "\e052"; }
.fak.fa-handshake::before, .fa-kit.fa-handshake::before { content: "\e03f"; }
.fak.fa-heart::before, .fa-kit.fa-heart::before { content: "\e041"; }
.fak.fa-heart-full::before, .fa-kit.fa-heart-full::before { content: "\e045"; }
.fak.fa-landmark-flag::before, .fa-kit.fa-landmark-flag::before { content: "\e042"; }
.fak.fa-link::before, .fa-kit.fa-link::before { content: "\e015"; }
.fak.fa-linkedin::before, .fa-kit.fa-linkedin::before { content: "\e043"; }
.fak.fa-list::before, .fa-kit.fa-list::before { content: "\e016"; }
.fak.fa-list-check::before, .fa-kit.fa-list-check::before { content: "\e044"; }
.fak.fa-list-dropdown::before, .fa-kit.fa-list-dropdown::before { content: "\e046"; }
.fak.fa-list-ol::before, .fa-kit.fa-list-ol::before { content: "\e056"; }
.fak.fa-magnifying-glass::before, .fa-kit.fa-magnifying-glass::before { content: "\e048"; }
.fak.fa-magnifying-glass-plus::before, .fa-kit.fa-magnifying-glass-plus::before { content: "\e057"; }
.fak.fa-map::before, .fa-kit.fa-map::before { content: "\e047"; }
.fak.fa-map-pin::before, .fa-kit.fa-map-pin::before { content: "\e049"; }
.fak.fa-message::before, .fa-kit.fa-message::before { content: "\e017"; }
.fak.fa-money-bills::before, .fa-kit.fa-money-bills::before { content: "\e04a"; }
.fak.fa-newspaper::before, .fa-kit.fa-newspaper::before { content: "\e04b"; }
.fak.fa-notebook::before, .fa-kit.fa-notebook::before { content: "\e04c"; }
.fak.fa-objects-column::before, .fa-kit.fa-objects-column::before { content: "\e04d"; }
.fak.fa-pencil::before, .fa-kit.fa-pencil::before { content: "\e04e"; }
.fak.fa-percent::before, .fa-kit.fa-percent::before { content: "\e000"; }
.fak.fa-phone::before, .fa-kit.fa-phone::before { content: "\e001"; }
.fak.fa-plus::before, .fa-kit.fa-plus::before { content: "\e002"; }
.fak.fa-rotate::before, .fa-kit.fa-rotate::before { content: "\e003"; }
.fak.fa-scanner-keyboard::before, .fa-kit.fa-scanner-keyboard::before { content: "\e004"; }
.fak.fa-seal-exclamation::before, .fa-kit.fa-seal-exclamation::before { content: "\e005"; }
.fak.fa-share-nodes::before, .fa-kit.fa-share-nodes::before { content: "\e006"; }
.fak.fa-sitemap::before, .fa-kit.fa-sitemap::before { content: "\e018"; }
.fak.fa-sliders::before, .fa-kit.fa-sliders::before { content: "\e053"; }
.fak.fa-sort::before, .fa-kit.fa-sort::before { content: "\e007"; }
.fak.fa-square-c::before, .fa-kit.fa-square-c::before { content: "\e008"; }
.fak.fa-square-p::before, .fa-kit.fa-square-p::before { content: "\e009"; }
.fak.fa-subtitles::before, .fa-kit.fa-subtitles::before { content: "\e055"; }
.fak.fa-table::before, .fa-kit.fa-table::before { content: "\e00a"; }
.fak.fa-tags::before, .fa-kit.fa-tags::before { content: "\e00b"; }
.fak.fa-trash-can::before, .fa-kit.fa-trash-can::before { content: "\e00c"; }
.fak.fa-twitter::before, .fa-kit.fa-twitter::before { content: "\e00d"; }
.fak.fa-user-large::before, .fa-kit.fa-user-large::before { content: "\e00e"; }
.fak.fa-user-plus::before, .fa-kit.fa-user-plus::before { content: "\e00f"; }
.fak.fa-x::before, .fa-kit.fa-x::before { content: "\e010"; }
.fak.fa-x-twitter::before, .fa-kit.fa-x-twitter::before { content: "\e011"; }

.fak, .fa-kit {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome Kit";
}

@font-face {
  font-family: "Font Awesome Kit";
  font-style: normal;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/gh/HigherGov/icons@main/custom-icons.woff2") format("woff2");
}
